
@{
<<<<<<< HEAD:Macro Model/Views/Login/AcessDenied.cshtml
    ViewData["Title"] = "Acesso Negado";
}

<h1 style="display:flex;justify-content:center;height:80vh;align-items:center;">Acesso Negado</h1>
=======
    ViewData["Title"] = "AcessDenied";
}

<h1>Acesso Negado</h1>
>>>>>>> 5cbf18c9b84570393ab4a5d15b52e40679f3d6a4:Macro Model/Views/Cadastro/AcessDenied.cshtml

