@model Macro_Model.Models.Produto
@{
	ViewData["Title"] = "Produto";
}


@* <h2>@ViewData["Title"]</h2> *@

<div class="row" style="display:flex;justify-content:center">
	<div class="col-md-8" style=" background-color:#fff; padding: 30px 30px;margin:45px;width:450px;border-radius:20px">
		<h2 style="text-align:center;padding:15px 0px">Adicionar novo alimento/produto</h2>
		<form method="post" enctype="multipart/form-data" asp-action="Produto" style="border: lightgray;padding:30px;border-radius:10%;">


			<div asp-validation-summary="ModelOnly" class="text-danger"></div>

			<div class="form-group">
				<label asp-for="Nome" class="control-label"></label>
				<input asp-for="Nome" class="form-control" placeholder="Insira seu nome completo" />
			</div>

			<div class="form-group">
				<label asp-for="Restricao" class="control-label"></label>
				<input asp-for="Restricao" class="form-control" placeholder="Esse alimento/produto é restringido a qual tipo de pessoa?" />
			</div>

			<div class="form-group">
				<label asp-for="Nutricional" class="control-label"></label>
				<input asp-for="Nutricional" class="form-control" placeholder="Detalhes nutricionais do alimento/produto " />
			</div>

	@* 		<div class="form-group">
				<label asp-for="Id" class="control-label"></label>
				<input asp-for="Id" class="form-control"  />
			</div> *@
		

			</br>
			</br>
			<div class="form-group">
				<input type="submit" value="Adicionar na lista" class="btn btn-success" />
				@* <a asp-controller="Produto" asp-action="Lista" class="btn btn-info">Adicionar na lista</a> *@
			</div>
		</form>

	</div>

</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}