
@{
    ViewData["Title"] = "Macro Model";
}

<div class="text-center py-5" style="height:80vh;display:flex;flex-direction:column;justify-content:center;align-items:center;gap:3rem">
    <h3 class="display-4">Defina seus macros!</h3>
    <h3 class="display-4">Faça sua dieta de acordo com suas restrições.</h3>
    <p style="display:flex;justify-content:center;align-items:center">
        <a asp-controller="Cadastro" asp-action="Cadastro"> É novo aqui ? Cadastre-se!</a>
    </p>

    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
