
@{
    ViewData["Title"] = "QuemSomos";
}


<div style="display:flex;justify-content:space-between;flex-direction:column;gap:0.1rem;">

    <section class="text-center py-5 text-white" style="display:flex;flex-direction:column;justify-content:start;gap:2rem;">

        <div style="background-color:#fff;color:black; padding: 10px 15px;margin:20px auto;border-radius:20px">

		    <h3 class="display-3">Quem somos!</h3>
            <p>No contexto atual, onde a busca por uma alimentação saudável é uma prioridade, enfrentar restrições alimentares 
                representa um desafio significativo. Então a MacroModel visa criar uma plataforma online que ofereça acesso fácil e rápido a informações nutricionais
                detalhadas de produtos alimentícios. Fornecer uma base de dados abrangente e atualizada de produtos alimentícios, incluindo informações nutricionais precisas
                e detalhadas. Educar os usuários sobre questões relacionadas à nutrição, restrições alimentares e leitura de rótulos de produtos..</p>
        </div>

        
    </section>

    <section class="text-center py-5 text-white" style="display:flex;flex-direction:column;justify-content:start;gap:2rem;margin-top:-100px">

        <div style="background-color:#fff;color:black; padding: 10px 15px;margin:20px auto;border-radius:20px">

            <h3 class="display-3">Nosso Objetivo</h3>
            <p>
                Para abordar essa lacuna, a MacroModel propõe uma plataforma online que oferece acesso fácil a 
                informações nutricionais detalhadas e um sistema de alerta para ingredientes específicos, capacitando 
                indivíduos com intolerâncias ou alergias, bem como outros interessados em uma alimentação mais saudável, a 
                fazerem escolhas alimentares seguras e informadas.
            </p>
        </div>

      
    </section>

    <section class="text-center py-5 text-white" style="display:flex;flex-direction:column;justify-content:start;gap:2rem;margin-top:-100px">

        <div style="background-color:#fff;color:black; padding: 10px 15px;margin:20px auto;border-radius:20px">

            <h3 class="display-3">Nossas Metas</h3>
            <p>
                O aumento das preocupações com a saúde e a conscientização sobre questões 
                alimentares torna evidente a necessidade de uma plataforma que forneça informações nutricionais 
                precisas e acessíveis. Portanto, nosso projeto visa preencher essa lacuna, proporcionando uma solução 
                abrangente e centrada no usuário para facilitar a escolha de produtos alimentícios seguros e adequados para cada indivíduo.
            </p>
        </div>

        
    </section>
</div>